# The clang-tidy and clang-format rule packages are published in this registry.
common --registry=https://raw.githubusercontent.com/digiboys/bazel-registry/main
common --registry=https://bcr.bazel.build

build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan

build:asan-ubsan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:asan-ubsan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:asan-ubsan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan-ubsan

# C++ fuzzing configurations supplied by rules_fuzzing.
build:asan-libfuzzer --action_env=CC=clang
build:asan-libfuzzer --action_env=CXX=clang++
build:asan-libfuzzer --repo_env=CC=clang
build:asan-libfuzzer --repo_env=CXX=clang++

build:asan-ubsan-libfuzzer --action_env=CC=clang
build:asan-ubsan-libfuzzer --action_env=CXX=clang++
build:asan-ubsan-libfuzzer --repo_env=CC=clang
build:asan-ubsan-libfuzzer --repo_env=CXX=clang++

build:asan-replay --action_env=CC=clang
build:asan-replay --action_env=CXX=clang++
build:asan-replay --repo_env=CC=clang
build:asan-replay --repo_env=CXX=clang++
build:asan-replay --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:replay
build:asan-replay --@rules_fuzzing//fuzzing:cc_engine_instrumentation=none
build:asan-replay --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan

build:clang-tidy --@rules_clang_tidy//:config=//tools/clang-tidy:config
build:clang-tidy --@rules_clang_tidy//:clang-tidy=//tools/clang-tidy:wrapper
build:clang-tidy --action_env=CLANG_TIDY
build:clang-tidy --action_env=CLANG_TIDY_REMOVED_ARG
build:clang-tidy --aspects=@rules_clang_tidy//:aspects.bzl%check
build:clang-tidy --output_groups=report
build:clang-tidy --remote_download_outputs=toplevel
build:clang-tidy --keep_going
build:clang-tidy --build_tag_filters=-noclangtidy
build:clang-tidy --copt=-Wno-pragma-once-outside-header

build:clang-format --aspects=@bazel_clang_format//:defs.bzl%check_aspect
build:clang-format --output_groups=report
build:clang-format --@bazel_clang_format//:config=//tools/clang-format:clang-format-config
build:clang-format --build_tag_filters=-noclangtidy

build:clang-format-fix --aspects=@bazel_clang_format//:defs.bzl%fix_aspect
build:clang-format-fix --output_groups=report
build:clang-format-fix --use_action_cache=false
build:clang-format-fix --@bazel_clang_format//:config=//tools/clang-format:clang-format-config
